kbd {
  display: inline-block;
  font-size: 0.8em;
  font-family: "Courier New", Courier, monospace;
  color: #242729;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  line-height: 1.4;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
  white-space: nowrap;
}

ul > li:before {
  margin-left: -0.6em;
  font-size: 50px;
  vertical-align: middle;
  line-height: 31.2px;
}

ul li ul li:before {
  font-size: 40px;
}

.hint {
  margin: 10px 0 10px 20px;
  padding-left: 20px;
  background-color: #feb;
  border-radius: 25px;
}

.hint:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../icons/clues_small.png');
    background-repeat: no-repeat;
    position: relative;
    left: -35px;
    top: -15px;
}

.hint pre, .tryit pre, .discuss pre {
  padding-left: 10px;
  margin-left: 0;
  left: 0;
  border-radius: 10px;
  width: 98%;
}

.tryit {
  margin: 10px 0 10px 20px;
  padding-left: 20px;
  background-color: #eef;
  border-radius: 25px;
}

.tryit:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../icons/hands_on_small.png');
  background-repeat: no-repeat;
  position: relative;
  left: -35px;
  top: -15px;
}

.discuss {
  margin: 10px 0 10px 20px;
  padding-left: 20px;
  background-color: #eef;
  border-radius: 25px;
}

.discuss:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../icons/discuss_small.png');
  background-repeat: no-repeat;
  position: relative;
  left: -35px;
  top: -15px;
}

.discuss > * , .hint > *, .tryit > *{
  top: -25px;
  position: relative;
}

.discuss ul li, .discuss ul li, .hint ul li, .hint ul li, .tryit ul li, .tryit ul li{
  margin-bottom: 0.1em;
}

.highlight {
  font-weight: bold;
  background-color: #ff0;
}

.varblock {
  display: inline-block;
  background-color: crimson;
  color: white;
  padding: 4px;
  border-radius: 8px;
  line-height: 0.9em;
}

slides > slide > .gdbar {
  background: #D6D2C4;
  width: 416px;
  height: 166px;
}

.gdbar img {
  width: 400px !important;
  height: 150px !important;
  margin: 8px 8px;
}

slides > slide.dark{
  background: #373A36 !important;
}

footer:after {
  content: attr(data-title);
  position: absolute;
  font-size: 12pt;
  line-height: 1.9;
  bottom: 20px;
  left: 60px;
}

.dataTable tbody{
  font-size: 80%;
}